*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body
{
    height: 100%;
}

body
{
    background: tomato;
}

#base-div
{
    height:100%;
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

#input-div,#greet-div
{
    overflow: hidden;
    display: inline-block;
}

#input-div
{
    font-family: 'Rajdhani', sans-serif;
    background: transparent;
    font-size: 7vmin;
    color: #757575;
    cursor: pointer;
}

#cursor-div
{
    font-family: 'Rajdhani', sans-serif;
    background: transparent;
    font-size: 7vmin;
    color: transparent;
}

#greet-control
{
    font-size: 7vmin;
}